.container_head{
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 5px;
    padding: 20px;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.nav{
    display: flex;
    width: 27%;
    min-width: 350px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.title{
    display: flex;
    width: 27%;
    min-width: 350px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: center;
    width: 100vw;
}