.container_footer {
    border-radius: 5px;
    position: fixed; 
    bottom: 0;
    width: 100vw;
    height: 90px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 10px;
    box-shadow: 0 5px 15px rgba(3, 1, 90, 0.3);
  }

 
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
  }
  
  .school-info {
    text-align: left;
    max-width: 400px;
  }
  
  .social-media {
    text-align: right;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #333;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    background: #4CAF50;
  }
  
  .school-info {
    text-align: left;
    max-width: 400px;
  }
  
  .school-info h3 {
    margin-bottom: 0px; 
  }
  
  .school-info p {
    margin: 0px 0; 
  }
  
  .footer-bottom p{
    margin-top: 10px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.main{
    display: flex;
    justify-content: center;
    width: 100vw;
}