/* Estilização do overlay do modal */
.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 168, 71, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container {
    width: 620px;
    flex-direction: column;
    background: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.modal-container input{
    display: flex;

}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: red;
}

.ni_modal {
    width: 70px;
}

.nome_modal {
    width: 380px;
}

.email_modal {
    width: 380px;
}

.cel_modal {
    width: 380px;
}

.ocup_modal {
    width: 380px;
}

.image{
    display: flex;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(170, 170, 170);
}

.body_modal{
    display: flex;
    flex-direction: row;
}

.caixa1{
    width: 80vw;
}
.caixa2{
    display: flex;
    width: 40vw;
    height: 250px;
    align-items: center;
    justify-content: center;
}