.ambientes-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn {
    background-color: #ff7043; /* Laranja mais forte */
    color: white;
}

.btn:hover {
    background-color: #ff5722; /* Laranja escuro */
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.ambientes-list {
    margin-top: 40px;
    padding: 0;
    list-style: none;
}

.ambiente-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe0b3; /* Laranja claro */
    margin: 15px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 700px;
    transition: box-shadow 0.3s ease-in-out;
}

.ambiente-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.edit, .delete {
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit:hover {
    color: #ffb74d; /* Laranja suave */
}

.delete:hover {
    color: #a71d2a; /* Vermelho forte */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    width: 200px;
}

.header input:focus {
    outline: none;
    border-color: #ff7043;
}

.header button {
    background-color: #ff7043;
    color: white;
}

.header button:hover {
    background-color: #ff5722;
}
