.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_home{
    background-color: rgb(182, 225, 209);
    width: 75vw;
    max-width: 1000px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin-top: 150px;
    padding: 10px;
}

.table{
    display: flex;
    width: 75vw;
    max-width: 1000px;
    font-size: 13px;
    background-color: brown;
}

.edit{
    color: blue;
}

.delete{
    color: brown;
}

.footer{
    background-color: rgb(198, 197, 194);
    height: 50px;
    width: 100%;
}

.lista{
    display: flex;
    align-items: center;
    background-color: blueviolet;
}

.id {margin-left: 10px; min-width: 50px; }  /* Ajuste para IDs curtos */
.ni { min-width: 100px; }
.nome { min-width: 250px; } /* Ajuste para nomes mais longos */


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vw;
}

.col1{
    background-color: bisque;
    width: 40px;
}
.col2{
    background-color: rgb(184, 113, 27);
    width: 40px;
}
.col3{
    background-color: bisque;
    width: 40px;
}
.col4{
    background-color: rgb(219, 126, 13);
    width: 40px;
}
.col5{
    background-color: bisque;
    width: 40px;
}
.col6{
    background-color: rgb(205, 118, 12);
    width: 40px;
}
.col7{
    background-color: bisque;
    width: 40px;
}
.col8{
    background-color: rgb(208, 123, 20);
    width: 40px;
}