.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.container_turma {
    background-color: #ffe0b3; /* Laranja claro */
    width: 75vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin-top: 150px;
    padding: 2dvh;
}

.table {
    display: flex;
    flex-direction: column;
    width: 75vw;
    max-width: 1000px;
    font-size: 13px;
    background-color: #ff7043; /* Laranja mais forte */
}

.edit {
    color: #794902; /* Laranja mais suave */
}

.delete {
    color: #69210b; /* Laranja escuro */
}

.footer {
    background-color: #ffcc80; /* Laranja claro */
    height: 50px;
    width: 75vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 15px black;
}

.btn1, .btn2 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff3e0; /* Laranja muito claro (quase creme) */
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-left: 10px;
}

.pesquisar {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.pesquisar input {
    display: flex;
    height: 60%;
    border-color: #ff7043; /* Laranja mais forte */
}

.lista {
    display: flex;
    align-items: center;
    background-color: #ffe0b3; /* Laranja claro */
    font-size: 15px;
}

.id { 
    margin-left: 10px; 
    min-width: 50px; 
}  

.codigo { 
    min-width: 100px; 
}

.turma { 
    min-width: 250px; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 165, 0, 0.7); /* Laranja com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #fff3e0; /* Laranja muito claro (quase creme) */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ff5722; /* Laranja escuro */
}

.section_turma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    min-height: 550px;
}

.col1, .col3, .col5 {
    background-color: #ffcc80; /* Laranja claro */
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 5px; 
    border-color: black;
}

.col2, .col4 { 
    background-color: #ff7043; 
    border-radius: 20px; 
    height: 40px; 
    width: 40px;
    padding: 5px;
}

.col1 { width: 20px; }
.col2 { width: 20px; }
.col3 { width: 40px; }
.col4 { width: 100px; }
.col5 { width: 150px; }
