.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container_home{
    background-color: rgb(228, 234, 232);
    width: 75vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin-top: 150px;
    padding: 2dvh;
}

.table{
    display: flex;
    flex-direction: column;
    width: 75vw;
    max-width: 1000px;
    font-size: 13px;
    background-color: brown;
    
}

.edit{
    color: blue;
}

.delete{
    color: brown;
}

.footer{
    background-color: rgb(198, 197, 194);
    height: 50px;
    width: 75vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 15px black;
}

.btn1{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-left: 10px;
}
.btn2{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-left: 10px;
}

.pesquisar{
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.pesquisar input{
    display: flex;
    height: 60%;
    border-color: aliceblue;
}

.lista{
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 225);
    font-size: 15px;
}

.id {margin-left: 10px; min-width: 50px; }  /* Ajuste para IDs curtos */
.ni { min-width: 100px; }
.nome { min-width: 250px; } /* Ajuste para nomes mais longos */


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.section_home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    min-height: 550px;
    
}

.col1{
    background-color: rgb(235, 235, 235);
    width: 20px;
}
.col2{
    background-color: rgb(200, 200, 200);
    width: 20px;
}
.col3{
    background-color: rgb(235, 235, 235);
    width: 40px;
}
.col4{
    background-color: rgb(200, 200, 200);
    width: 100px;
}
.col5{
    background-color: rgb(235, 235, 235);
    width: 150px;
}
.col6{
    background-color: rgb(200, 200, 200);
    width: 180px;
}
.col7{
    background-color: rgb(235, 235, 235);
    width: 100px;
}
.col8{
    background-color: rgb(200, 200, 200);
    width: 20px;
}